html {
  --background: white;
  --grey-200: #222222; /* #eaeaea; */
  --grey-400: #444444; /* #acacac; */
  --grey-600: #333333; /* #ffffff; */
  --grey-900: #111111; /* #fafafa; */
}

html.dark {
  --background: black;
  --grey-200: #eaeaea; /* #222222; */
  --grey-400: #acacac; /* #444444; */
  --grey-600: #ffffff; /* #333333; */
  --grey-900: #fafafa; /* #111111; */
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: var(--grey-600);
  background: var(--background);
  margin: 0;
  padding: 0 0.5rem;
}

main {
  margin: auto;
  max-width: 40rem;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
  padding: 0 0 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
  padding: 0 0 0.5rem;
}

a {
  color: var(--grey-400);
  text-decoration: none;
}

a:hover {
  color: var(--grey-600);
  font-weight: 600;
}

a:active {
  font-weight: 900;
  color: var(--background);
}

a:focus {
  outline: 2px solid var(--grey-400);
  outline-offset: 2px;
}

li {
  list-style: none;
  margin: 1rem 0;
}

p,
li {
  color: var(--grey-400);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1rem;
  opacity: 0.8;
  padding: 0 0 1rem;
}
