---
// Import the Card component
import Card from "./Card.astro";
// Import the Card Props type
import type { CardListProps } from "../../props/Card.types";
// css
import "../../styles/card.astro.css";

// Retrieve the cards prop
const { cards } = Astro.props as CardListProps;
---

<div class="cards">
  <!-- Dynamically render multiple Card components and spread the required card props -->
  {cards.map((card) => <Card {...card} key={card.to} />)}
</div>
