---
// Import the Card component
import Card from "./Card.astro";
// Import the Card Props type
import type { CardsProps } from "../../props/Card.types";

// Retrieve the cards prop
const { cards } = Astro.props as CardsProps;
---

<div class="cards">
  <!-- Dynamically render multiple Card components and spread the required card props -->
  {cards.map((card) => <Card {...card} />)}
</div>

<style>
  .cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    .cards {
      flex-direction: row;
    }
  }
</style>
