---
import Card from "./Card.astro";
import type { CardListProps } from "./types";
import "./styles.css";

// Retrieve the cards prop
const { cards } = Astro.props as CardListProps;
---

<div class="cards">
  <!-- Dynamically render multiple Card components and spread the required card props -->
  {cards.map((card) => <Card {...card} key={card.to} />)}
</div>
