---
import { navLinks } from "./data";
import "./styles.css";
---

<nav aria-label="Main Navigation">
  <button
    class="nav-toggle"
    aria-label="Toggle navigation"
    aria-expanded="false"
    aria-controls="main-nav"
    tabindex="0"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <ul>
    {
      navLinks.map((link) => (
        <li>
          <a
            href={link.href}
            aria-label={link.ariaLabel ?? link.label}
            target={link.external ? "_blank" : undefined}
            rel={link.external ? "noopener noreferrer" : undefined}
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const { pathname } = window.location;
    const activeNavigationElement = document.querySelector(
      `nav a[href="${pathname}"]`
    );
    if (activeNavigationElement) {
      activeNavigationElement.classList.add("active");
      activeNavigationElement.setAttribute("aria-current", "page");
    }
  });
</script>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const toggle = document.querySelector(".nav-toggle");
    const navMenu = document.querySelector("nav ul");

    const toggleMenu = () => {
      const isOpen = toggle.classList.toggle("open");
      navMenu?.classList.toggle("open");
      toggle.setAttribute("aria-expanded", String(isOpen));
    };

    toggle?.addEventListener("click", toggleMenu);
    toggle?.addEventListener("keydown", (e) => {
      if (e.key === "Enter" || e.key === " ") {
        e.preventDefault();
        toggleMenu();
      }
    });

    navMenu?.querySelectorAll("a").forEach((link) =>
      link.addEventListener("click", () => {
        toggle.classList.remove("open");
        navMenu.classList.remove("open");
        toggle.setAttribute("aria-expanded", "false");
      })
    );
  });
</script>
