---
import { navLinks } from "./data";
import "./styles.css";
---

<nav aria-label="Main Navigation">
  <ul>
    {
      navLinks.map((link) => (
        <li>
          <a
            href={link.href}
            aria-label={link.ariaLabel ?? link.label}
            target={link.external ? "_blank" : undefined}
            rel={link.external ? "noopener noreferrer" : undefined}
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const { pathname } = window.location;
    const activeNavigationElement = document.querySelector(
      `nav a[href="${pathname}"]`
    );
    if (activeNavigationElement) {
      activeNavigationElement.classList.add("active");
      activeNavigationElement.setAttribute("aria-current", "page");
    }
  });
</script>
