---
import Main from "../layouts/Main.astro";
---

<Main title="About">
  <body>
    <!-- This is the body of the about page -->
    <h1>About</h1>
    <!-- This is the heading -->
    <p>
      <!-- This is the paragraph -->
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium sit quae
      ut molestias labore ipsa placeat facere aliquid voluptates aperiam adipisci
      similique nesciunt, fugiat perferendis eius a. Incidunt, provident reiciendis!
    </p>
  </body>
</Main>
