---
import Links from "../components/Links.astro";
import Main from "../layouts/Main.astro";
---

<Main title="About">
  <body>
    <h1>whoami?</h1>
    <p>
      Software Engineer/Web Developer from California. Highly skilled and
      innovative professional with expertise in designing, developing, and
      maintaining web applications and software solutions. Well-versed in
      various programming languages, such as JavaScript, Python, TypeScript, and
      Rust. Deep understanding of modern web technologies, frameworks,
      markup/markdown languages, and styling.
    </p>
    <p>
      Passion for problem-solving and a creative mindset. I enjoy creating
      captivating and responsive user interfaces using HTML, CSS, and JavaScript
      frameworks like React, Angular, or Astro. Back-end development skills,
      working with databases (SQL or NoSQL) and server-side technologies like
      Node.js or ASP.NET.
    </p>
    <p>
      I stay up-to-date with the latest industry trends and continuously seek
      opportunities to enhance my skillset. Ability to collaborate effectively
      with teams and adapt to rapidly changing environments while contributing
      to projects ranging from open source, frameworks, and video game
      development.
    </p>
    <p>
      Familiarity cloud computing platforms like Netlify, Vercel, and Firebase
      allows me to deploy and maintain applications on scalable and reliable
      infrastructure.
    </p>

    <span>Find out more about me below!</span>
    <Links />
  </body>
</Main>
