---
const linksMapped = [
  {
    href: "https://github.com/milliorn",
    text: "Github",
  },
  {
    href: "https://www.linkedin.com/in/scott-milliorn/",
    text: "Linkedin",
  },
  {
    href: "https://twitter.com/scottmilliorn",
    text: "Twitter",
  },
];
---

<nav>
  <ul>
    {
      linksMapped.map((e, i) => (
        <li id={`${i}+${e.text}`}>
          <a href={e.href} target="_blank" rel="noopener noreferrer">
            {e.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script></script>

<style>
  nav {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center the items horizontally */
    padding: 2rem 0; /* Add some space around items */
    text-align: center; /* Center the items text */
  }

  ul {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center the items horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%; /* Set full width */
  }

  nav li {
    font-size: 1.25rem; /* Larger font size */
    list-style: none; /* Remove list bullets */
    opacity: 0.8; /* Make items slightly transparent */
    padding: 0.5rem 0.875rem; /* Adjust padding for better spacing on mobile */
  }

  a {
    border-radius: 0.25rem; /* Rounded corners */
    color: var(--grey-600); /* Text color */
    padding: 0.5rem 1rem; /* Adjust padding for better spacing on mobile */
    text-decoration: none; /* Remove underline */
    text-transform: capitalize; /* Capitalize links */
    transition: all 0.2s ease-in-out; /* Add transition effect */
  }

  a.active {
    background-color: var(--grey-200); /* Darken background on active */
    color: var(--background); /* Darken text on active */
  }

  a:hover {
    background-color: var(--grey-100); /* Darken background on hover */
    color: var(--grey-800); /* Darken text on hover */
  }
</style>
